<!-- health_app/templates/health/dashboard.html -->

{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block body %}
<div class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Weight Tracker</h2>
                <div id="svg">
                    <script src="{{ url_for('static', filename='js/vis.js') }}"></script>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}