<div class="row">
    <div class="col-md-12">
        <div class="col-md-10">
            <h3>Weight Progress Tracker</h3>
        </div>
        <div class="col-md-2 button-center">
            <button id="left" class="btn btn-default">
                <span class="glyphicon glyphicon-menu-left"></span>
            </button>
            <button id="right" class="btn btn-default">
                <span class="glyphicon glyphicon-menu-right"></span>
            </button>
        </div>
        <div class="col-md-10">
            <canvas id="myChart" width="800" height="400"></canvas>
        </div>
        <div class="col-md-2">
            <br/><br/><br/><br/>
            <button id="week" class="btn btn-default">
                Week
            </button>
            <br/><br/>
            <button id="month" class="btn btn-default">
                Month
            </button>
            <br/><br/>
            <button id="year" class="btn btn-default">
                Year
            </button>
        </div>

        <!-- Includes vis.js in same folder via jinja-->
        <script>{% include 'health/vis.js' %}</script>
    </div>
    <button id="add" class="btn btn-default" data-toggle="modal" data-target="#addModal">
        <i class="fa fa-plus"></i> Add Weight
    </button>
</div>