{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    {% if add_weight %}
        Add Weight
    {% else %}
        Edit Weight
    {% endif %}
{% endblock %}

{% block body %}
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">
            {% if add_weight %}
                <h1>Add Weight</h1>
            {% else %}
                <h1>Edit Weight</h1>
            {% endif %}
            <br/>
            <!-- {{ wtf.quick_form(form) }} -->
            <form class="form basic" method="post" role="form">
                {{ form.hidden_tag() }}
                {{ wtf.form_errors(form, hiddens="only") }}
                {{ wtf.form_field(form.weight) }}
                {{ wtf.form_field(form.date, type="date", id="input_date") }}
                {{ wtf.form_field(form.submit) }}
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

